<template>
	<md-table-row>
		<md-table-cell>
			<md-button
				class="md-icon-button md-dense"
				:style="{ 'margin-left': dataSource._level * 20 + 'px' }"
				@click="rowClick(dataSource)"
			>

				<md-icon v-if="dataSource._expanded && ! childrenNotLoaded">remove</md-icon>
				<md-spinner v-else-if="dataSource._loading" md-indeterminate :md-size="20"></md-spinner>
				<md-icon v-else-if="hasChildren || childrenNotLoaded">add</md-icon>
				<md-icon v-else>fiber_manual_record</md-icon>
			</md-button>
		</md-table-cell>

		<md-table-cell v-for="(name, key) of cols" :key="key">
			<Barcode v-if="key === 'barcode'" :code="dataSource['code']" />

			<template v-else>
				{{ dataSource[key] || '' }}
			</template>
		</md-table-cell>
	</md-table-row>
</template>

<script type="text/javascript">
import { mapActions } from 'vuex'
import Barcode from 'components/Barcode.vue'

export default {
	name: 'Row',

	components: {
		Barcode,
	},

	props: {
		cols: {
			type: Object,
		},
		dataSource: {
			type: Object,
		},
	},

	computed: {
		hasChildren () {
			return this.dataSource._children === true
		},
		childrenNotLoaded () {
			return typeof this.dataSource._children === 'undefined'
		},
	},

	methods: {
		...mapActions([
			'rowClick',
		]),
	},
}
</script>
