<template>
  <div class="treetable" v-if="dataSource && dataSource.length">
    <md-table>
      <md-table-header>
        <md-table-row>
          <md-table-head v-for="(col, index) in colNames" :key="index">{{ col }}</md-table-head>
        </md-table-row>
      </md-table-header>

      <md-table-body>
        <template v-for="item of getRows">
            <Row :data-attr="item._uuid" :key="item._uuid" :cols="cols" :dataSource="item" />
        </template>
      </md-table-body>
    </md-table>

   <!--<pre>{{ JSON.stringify(dataSource, null, 2) }}</pre>-->
  </div>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import Row from './Row.vue'

export default {
	components: {
		Row,
	},

	props: {
		cols: {
			type: Object,
		},
		dataSource: {
			type: Array,
		},
	},

	computed: {
		...mapGetters([
			'getRows',
		]),

		colNames () {
			// +1 for expanders column
			return [''].concat(Object.values(this.cols))
		},
	},

}
</script>

<style>
.md-table-head {
  background-color: grey;
}
.md-table-head-text {
  color: white;
}
</style>
