<template>
	<div class="page">
		<h1 class="md-headline headline">Kód normy: {{ code }}</h1>

		<template v-if="isError">
			<h2 class="md-headline headline">Došlo k chybě: {{ getError }}</h2>
		</template>
		<template v-else>
			<template v-if="! normData">
				<h2 class="headline">Nahrávám...</h2>
			</template>
			<template v-else>
				<h1 class="md-headline headline">Název normy: {{ normData.name }}</h1>
				<br />

				<template v-if="isTreeRootLoading">
					<h2 class="headline">Nahrávám...</h2>
				</template>
				<template v-else>
					<md-button class="md-raised md-primary" @click="expandAll">Rozbalit vše</md-button>
					<md-button class="md-raised md-primary" @click="collapseAll">Sbalit vše</md-button>

					<TreeTable :cols="cols" :dataSource="getTreeRoot" />
				</template>
			</template>
		</template>
	</div>
</template>

<script type="text/javascript">
import { mapGetters, mapActions } from 'vuex'
import TreeTable from 'modules/treetable/TreeTable'

export default {
	components: {
		TreeTable,
	},

	data () {
		return {
			code: this.$route.params.normCode,
			cols: {
				id: 'ID',
				name: 'JMÉNO',
				code: 'KÓD',
				quantity: 'POČET KUSŮ',
				barcode: 'BARCODE',
				// position: 'POZICE',
			},
		}
	},

	computed: {
		...mapGetters([
			'getTreeRoot',
			'isTreeRootLoading',
			'normData',
			'isError',
			'getError',
		]),
	},

	methods: {
		...mapActions([
			'initialNormCode',
			'expandAll',
			'collapseAll',
		]),
	},

	beforeMount () {
		this.initialNormCode({
			code: this.$route.params.normCode,
		})
	},

}
</script>

<style scoped>
.headline {
  padding-left: 10px;
  margin: 0;
}
</style>
