<template>
	<svg ref="barcode"></svg>
</template>

<script type="text/javascript">
import JsBarcode from 'jsbarcode'

export default {
	name: 'Barcode',

	props: {
		code: {
			type: String,
		},
	},

	mounted () {
		JsBarcode(this.$refs.barcode)
			.options({
				font: 'OCR-B',
				height: 50,
			})
			.CODE128(this.code, {
				fontSize: 18,
				textMargin: 0,
			})
			.render()
	},

}
</script>
